<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-pzjw8f+ua6mz9z+9zr2+6kay4z7b1p2q5j5x8w+g8xhuhv+8v8v8v8v8v8v8v8v8"
      crossorigin="anonymous"
    />

    <style>
      * {
        box-sizing: border-box;
      }

      body {
        font-family: "Inter", sans-serif;
        font-weight: 300;
        margin: 0;
        padding: 0;
      }

      h1 {
        font-weight: 300;
        margin: 0;
        padding: 0;
        margin-top: 24px;
        margin-bottom: 32px;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 300px;
      }

      input {
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 8px;
        padding: 8px;
      }

      button {
        background-color: #2b2b2b;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        padding: 8px;
      }

      button:hover {
        cursor: pointer;
      }

      button:active {
        background-color: #1f1f1f;
      }

      button:focus {
        outline: none;
      }
    </style>
  </head>
  <body>
    <% if (!user) { %> <%- include('partials/loginForm') %> <% } else { %>
    <h4>Welcome</h4>
    <p>You are logged in as <%= user.email %></p>

    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <hr />
    <%- include('partials/songs', { songs }) %> <% } %>
    <!-- Other content or HTML elements can go here -->

    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-7y4y+8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8v8"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-pzjw8f+ua6mz9z+9zr2+6kay4z7b1p2q5j5x8w+g8xhuhv+8v8v8v8v8v8v8v8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
