<!-- FAQ Section -->
<div class="container-fluid bg-light py-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2 class="text-center mb-5">Frequently Asked Questions</h2>
      <div id="faq-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h4>What is your music playback service?</h4>
            <p>
              Our music playback service is a platform that offers a vast
              library of songs from all genres, so you can find the perfect
              soundtrack for any moment.
            </p>
          </div>
          <div class="carousel-item">
            <h4>How do I create a playlist?</h4>
            <p>
              Creating a playlist is easy. Simply click on the "Create Playlist"
              button and give your playlist a name. Then, you can add songs to
              your playlist by searching for them in our library and clicking
              the "Add to Playlist" button.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
