<!-- Hero Section -->
<div
  class="hero"
  style="
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-image: url('/assets/hero-main.jpg');
  "
>
  <h1
    class="hero-h1"
    style="
      align-self: center;
      text-align: center;
      font-size: 86px;
      font-weight: bold;
      color: white;
    "
  >
    Your experience <br />
    elevated.
  </h1>

  <p
    class="hero-h1"
    style="
      align-self: center;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      color: white;
      margin: 32px;
    "
  >
    Join the ever growing community of music enthusiasts which want to give
    their collection a modern touch.
  </p>

  <div style="align-self: center; align-items: center; justify-content: center">
    <button
      class="btn btn-light"
      type="submit"
      style="
        width: 240px;
        margin-top: 64px;
        height: 60px;
        font-weight: 700;
        animation: fadeInFromBottom 3s ease-out;
      "
    >
      Learn more
    </button>
  </div>
</div>
