
<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg"
  style="
    background-color: black;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
  "
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="
        border-width: 0;
        background-color: black;
        width: 40px;
        height: 40px;
      "
    >
      <span>
        <i class="fas fa-bars" style="font-size: 16px; color: white"></i>
      </span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      style="background-color: black; padding: 16px"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white; font-weight: 700"
          >
            About
          </a>
          <ul class="dropdown-menu" style="padding: 8px">
            <li><a class="dropdown-item" href="#">Explore</a></li>
            <li><a class="dropdown-item" href="#">Music</a></li>
            <li><a class="dropdown-item" href="#">Cluture</a></li>

            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Pricing and Plans</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white; font-weight: 700"
          >
            Support
          </a>
          <ul class="dropdown-menu" style="padding: 8px">
            <li><a class="dropdown-item" href="#">Transfer</a></li>
            <li><a class="dropdown-item" href="#">Supported Devices</a></li>
            <li><a class="dropdown-item" href="#">Get help</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <button
          class="btn btn-dark"
          type="submit"
          style="
            width: 160px;
            border-radius: 200px;
            font-weight: 700;
            margin-right: 8px;
          "
        >
          <i class="fas fa-user" style="margin-right: 8px; color: white"></i>
          Login
        </button>
        <button
          class="btn btn-light"
          type="submit"
          style="width: 240px; height: 50px; font-weight: 700"
        >
          Start your free trial
        </button>
      </form>
    </div>
  </div>
</nav>
