html {
  scroll-behavior: smooth;
}

.technology-card:hover,
.technology-card-2:hover,
.technology-card-3:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  color: #fff;
}

.hero {
  width: 100%;
  height: 600px;
  background-size: cover;
  margin-top: 64px;

  display: flex;
  flex-direction: column;

  background-image: url("/assets/images/hero-backdrop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  height: 64px;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 64px;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
}

.hero-h1 {
  font-size: 56px;
  font-weight: 700;
  padding-left: 24px;
  text-align: center;
  color: orange;
}

.hero-p {
  font-size: 24px;
  font-weight: 400;
  padding-left: 24px;
  text-align: center;
}

.hero-btn {
  margin-top: 24px;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background-color: gray;
  color: white;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.skills {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  justify-content: space-evenly;
}

.services-h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.services-p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
  width: 50%;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.technology-card {
  background-image: url("/assets/images/backdrop-android.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  background-color: #00e3a9;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
}

.technology-card-2 {
  background-image: url("/assets/images/backdrop-rn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 400px;
  height: "fit-content";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  background-color: #04dde3;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
}

.technology-card-3 {
  background-image: url("/assets/images/backdrop-aws.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  background-color: #e3aa00;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
}

.technology-card-4 {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
}

.technologies-h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
  color: white;
}

.technologies-p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;
  width: 90%;
  color: white;
}

.technologies-p-sec {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
  width: 90%;
  color: white;
}

.company-card {
  width: 400px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  background-color: #f2f2f2;
  border-radius: 8px;
  margin-left: 64px;
  padding: 32px;
}

.company-card-img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  border-radius: 8px;
}

.company-card-text {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
  width: 90%;
  color: black;
}

.jobs {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}

.project-h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
}

.project-h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.projects {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  align-items: center;
  justify-content: space-evenly;
}

.projects-div {
  margin-left: 104px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  align-items: center;
  justify-content: center;
}

.footer h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
