html {
  scroll-behavior: smooth;
}

.hero-contents {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.technology-card:hover,
.technology-card-2:hover,
.technology-card-3:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
}

.company-card:hover,
.company-card-2:hover {
  transform: scale(1.02);
  transition: background-color 0.3s, transform 0.3s;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2b2a2e;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  color: #fff;
}

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;

  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;

  background-image: url("/assets/images/hero-backdrop.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  height: 64px;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 1;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 64px;
}

.navbar a:hover {
  color: #36c0b0;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style: none;
}

.hero-h1 {
  font-size: 56px;
  font-weight: 700;
  margin-left: 64px;
  color: white;
}

.hero-p {
  font-size: 20px;
  margin-left: 64px;
  color: #f2f2f2;
  font-family: "Inter", sans-serif;
  width: 50%;
}

.hero-img-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 64px;
}

.hero-img {
  width: 60px;
  height: 60px;
  object-fit: scale-down;
  border-radius: 100px;
  margin-right: 16px;
}

.hero-btn {
  background-color: #36c0b0;
  color: white;
  border: none;
  padding: 16px 32px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-btn-sec {
  background-color: #fff;
  color: #2b2b2b;
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.hero-btn:hover {
  background-color: rgb(129, 129, 129);
  color: white;
}

.hero-btn-sec:hover {
  background-color: rgb(129, 129, 129);
}

.hero-btn-a {
  text-decoration: none;
  color: black;
}

.services {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  margin-top: 64px;
}

.services-img {
  width: 240px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.skills {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-left: 46px;
}

.services-h2 {
  font-size: 32px;
  font-weight: 700;
}

.services-p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-bottom: 24px;
  width: 30%;
  margin-right: 128px;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.technology-card {
  background-image: url("/assets/images/backdrop-android.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: "flex-end";
  margin-bottom: 24px;
  background-color: #00e3a9;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
}

.technology-card-2 {
  background-image: url("/assets/images/backdrop-rn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: "flex-end";
  margin-bottom: 24px;
  background-color: #04dde3;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
}

.technology-card-3 {
  background-image: url("/assets/images/backdrop-aws.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: "flex-end";
  margin-bottom: 24px;
  background-color: #e3aa00;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
}

.technologies-h3 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: white;
}

.technologies-p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 90%;
  color: white;
}

.technologies-p-sec {
  font-size: 24px;
  font-weight: 600;
  width: 90%;
  color: white;
}

.company-card {
  width: 400px;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  background-color: #38373b;
  border-radius: 4px;
  padding: 32px;
  margin: 4px;
}

.company-card-2 {
  width: 400px;
  height: 180px;
  display: flex;

  flex-direction: column;
  margin-bottom: 24px;
  background-color: #38373b;
  border-radius: 4px;

  padding: 32px;
  margin: 4px;
}

.company-card-img {
  width: 200px;
  height: 48px;
  object-fit: scale-down;
  border-radius: 8px;
}

.company-card-img-sec {
  width: 48px;
  height: 48px;
  object-fit: scale-down;
  border-radius: 8px;
}

.company-card-text {
  font-size: 28px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  width: 96%;
  color: white;
}

.company-card-p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 96%;
  color: white;
}

.jobs {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: -4px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project-h1 {
  font-size: 42px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.project-h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.project-p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects-div {
  margin-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.about-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.contacts-section {
  display: flex;
  width: 60%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.contact-card {
  width: 48%;
  display: flex;
  flex-direction: row;
  background-color: #38373b;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 8px;
  margin: 4px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-p {
  margin-left: 24px;
  margin-right: 24px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.socials {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 0 10px;
  background-color: #38373b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;

  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.3s ease;
}

a:visited {
  text-decoration: none;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-contents {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease forwards;
}